ul {
  list-style: none;
  word-wrap: break-word;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.login.page .form {
  text-align: center;
  width: 400px;
  margin: auto;
}

.wait.page {
  display: none;
}

.card.page {
  display: none;
  text-align: center;
  margin: auto;
}

.vote.page {
  display: none;
}

.roomCode, .username {
  width: 100%;
}

.username .label, .roomCode .label {
  font-size: 150%;
  margin-right: 8px;
}

.roomCode .input, .username .input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-left: 8px;
  text-align: center;
  font-size: 150%;
  letter-spacing: 1px;
}

.roomCode .input {
  text-transform: uppercase;
}

.label, .username .input, .roomCode .input {
  color: #fff;
  font-weight: 100;
}

.cardList, .voteList {
    margin: 10px;
}

.cardButton {
  color: #000;
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #000 2px;
  margin: 3px;
}

.cardButton:hover {
  border: solid #3cb0fd 2px;
}

.cardButtonSelected {
  color: #fff;
  background: #3cb0fd;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  margin: 3px;
}

